In [1]:
import pandas as pd

In [2]:
# df = pandas.read_csv('Data_Scraping_Bukalapak_Sepatu.csv')
# df.to_excel('Data_Scraping_Bukalapak_Sepatu_.xlsx', index=False)

In [3]:
j = input()
j = int(j) + 1
for i in range(0,j):
    print('https://www.bukalapak.com/products?page='+str(i)+'&search%5Bkeywords%5D=sepatu')

https://www.bukalapak.com/products?page=0&search%5Bkeywords%5D=sepatu
https://www.bukalapak.com/products?page=1&search%5Bkeywords%5D=sepatu
https://www.bukalapak.com/products?page=2&search%5Bkeywords%5D=sepatu

In [2]:
# df = pd.read_csv('Data_Scraping_Bukalapak_Sepatu.csv')
df = pd.read_csv('ResultScrapingShoes.csv')
df.head()
df.to_excel('Result.xlsx', index=False)

In [20]:
df.tail()

,Nama_produk,Harga,Nama_toko,Kota,Rating_produk,Produk_terjual
145,CELANA PANJANG PRIA MTAC - CELANA PANJANG TACT...,140000,ABIEL TACTICAL,Kab. Bandung,5.0,4
146,CELANA PANJANG TACTICAL KITANICA PREMIUM TERBARU,165000,Tactical Blackhawk,Bandung,4.8,221
147,CELANA PANJANG PRIA JUMBO CELANA CHINO PRIA UK...,123200,CHINOSJUMBO,Semarang,4.7,30
148,Celana Formal Kantor Kerja Bahan Pria Slimfit ...,49950,Mickonova Store,Pemalang,4.9,2217
149,Celana Chino Chinos Panjang Pria Polos Katun J...,132000,GALERI_JUMBO,Kab. Pekalongan,4.9,176

In [21]:
df.shape

(150, 6)

In [22]:
df.isnull().sum()

Nama_produk       0
Harga             0
Nama_toko         0
Kota              0
Rating_produk     0
Produk_terjual    0
dtype: int64

In [9]:
df[df['Nama_produk'].isnull() == False]

,Nama_produk,Harga,Nama_toko,Kota,Rating_produk,Produk_terjual
0,iPhone 11 - Fullset Original Like New - Second...,6200000.0,GOATS,Jakarta Selatan,4.9,2335.0
1,iPhone 11 Pro - Fullset Original Like New - Se...,8016000.0,GOATS,Jakarta Selatan,4.9,2417.0
2,iPhone XR - Fullset Original Like New - Second...,4767000.0,GOATS,Jakarta Selatan,4.9,4503.0
3,iPhone 13 - NEW Fullset Original - Inter / Ibo...,15448000.0,GOATS,Jakarta Selatan,5.0,752.0
4,iPhone 13 Pro Max - NEW Fullset Original - Int...,19154000.0,GOATS,Jakarta Selatan,5.0,500.0
...,...,...,...,...,...,...
115,iPhone 12 Pro Max- Fullset Original Like New -...,13266000.0,GOATS,Jakarta Selatan,5.0,2184.0
116,iPhone 8 Plus - Fullset Original Like New - Se...,4025000.0,GOATS,Jakarta Selatan,5.0,2185.0
117,iPhone 7 Plus - Fullset Original Like New - Se...,3258000.0,GOATS,Jakarta Selatan,4.9,2191.0
118,iPhone 11 Pro Max- Fullset Original Like New -...,9036000.0,GOATS,Jakarta Selatan,5.0,3239.0
119,iPhone 11 64Gb 128gb second Fullset mulus terawat,5846000.0,apple_shop,Jakarta Utara,4.9,39.0

In [10]:
df.dropna(subset=['Nama_produk'], inplace=True)

In [11]:
df.loc[df['Rating_produk'].isnull() == True]

,Nama_produk,Harga,Nama_toko,Kota,Rating_produk,Produk_terjual
33,iPhone 11 - New iBox - Original Fullset,7586250.0,GOATS,Jakarta Selatan,NaN,NaN
103,iPhone 11 - New iBox - Original Fullset,7586250.0,GOATS,Jakarta Selatan,NaN,NaN

In [17]:
df.dtypes

Nama_produk        object
Harga             float64
Nama_toko          object
Kota               object
Rating_produk     float64
Produk_terjual    float64
dtype: object